<%= form_for(center) do |f| %>
  <% if center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(center.errors.count, "error") %> prohibited this center from being saved:</h2>

      <ul>
      <% center.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_area :name %>
  </div>

  <div class="field">
    <%= f.label :manager_name %>
    <%= f.number_field :manager_name %>
  </div>

    <div class="field">
    <%= f.label :email %>
    <%= f.number_field :email %>
  </div>

    <div class="field">
    <%= f.label :contact_number %>
    <%= f.number_field :contact_number %>
  </div>

    <div class="field">
    <%= f.label :address %>
    <%= f.number_field :address %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
