<h2>Details of <%= @center.name %></h2>

<table border="1px">
  <thead>
  <tr>
    <th>Manager Name</th>
    <th>Email</th> 
    <th>Contact Number</th>
    <th>Address</th>  
  </tr>
  </thead>

  <tbody>
  <tr>
    <td id="data"><%= @center.manager_name %></td>
    <td id="data"><%= @center.email %></td>
    <td id="data"><%= @center.contact_number %></td>
    <td id="data"><%= @center.address %></td>
  </tr>
</tbody>
</table>
