<h2>Details of <%= @center.name %></h2>

<table>
  <thead>
  <tr>
    <th>Manager Name</th>
    <th>Email</th> 
    <th>Contact Number</th>
    <th>Address</th>  
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @center.manager_name %></td>
    <td><%= @center.email %></td>
    <td><%= @center.contact_number %></td>
    <td><%= @center.address %></td>
  </tr>
</tbody>
</table>

<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>